<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCC7A0B5201E221E002C4CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC7A0C8201E221E002C4CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCC7A0D3201E221E002C4CF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
